<div class="card">
    <div class="member-card">
        <a class="img-container" routerLink="/members/{{member.uuid}}"><img
                src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"></a>
        <div class="name">{{member.knownAs}}</div>
        <div class="online-friend">
            <div [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.knownAs)">
                <i class="fa fa-user me-2"></i>
            </div>
            <a *ngIf="!member.isLiked" (click)="addFollow(member)">
                <i class="fa fa-user-plus"></i>
            </a>
            <a *ngIf="member.isLiked" (click)="addFollow(member)">
                <i class="fa fa-user-minus"></i>
            </a>
            <a (click)="sendMessage(member)">
                <i class="fa fa-solid fa-envelope"></i>
            </a>
        </div>
    </div>
</div>