<div class="container" *ngIf="member">
    <h2>{{member.knownAs}}</h2>
        
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
        <p>Introduction:</p>
        <textarea [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>

        <label>City:</label>
        <input type="text" [(ngModel)]="member.city" name="city">
        <label>Country:</label>
        <input type="text" [(ngModel)]="member.country" name="country">

        <button type="submit" [disabled]="!editForm.dirty" form="editForm">Edit</button>
    </form>

    <app-photo-editor [member]="member"></app-photo-editor>
</div>
