<div *ngIf="(messageService.messageThread$ | async)?.length === 0">
    No messages yet
</div>

<div *ngIf="(messageService.messageThread$ | async)?.length > 0" class="message-container">
    <div *ngFor="let message of (messageService.messageThread$ | async)"
        class="message-wrap"
    >
        <div 
            [ngClass]="message.senderUsername === userKnownAs ? 'message-received' : 'message-sent'"
            class="message"
        >
            <p>{{message.content}}</p>
            <p class="time-text">{{ (message.dateRead !== null) ? (message.dateRead | timeago: 'dd/MM/yyyy') : " (unread)" }}</p>
        </div>
    </div>
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
        <input type="text" name="messageContent" [(ngModel)]="messageContent">
        <button [disabled]="!messageForm.valid" type="submit">Send</button>
    </form>
</div>
