<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off"
class="register-form">
    <h2>Register</h2>

    <div class="gender-input">
        <label>Gender:</label>
        <div>
            Male
            <input type="radio" value="male" formControlName="gender">
        </div>
        <div>
            Female
            <input type="radio" value="female" formControlName="gender">
        </div>
    </div>

    <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="registerForm.controls['knownAs']" [label]="'Nickname'"></app-text-input>
    <app-text-input [formControl]="registerForm.controls['city']" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="registerForm.controls['country']" [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'"
        [type]="'password'"></app-text-input>
    <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'"
        [type]="'password'"></app-text-input>

    <div *ngIf="validationErrors">
        <ul>
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <button  type="submit">Register</button>
    <button type="button" (click)="cancel()" class="cancel">Cancel</button>
</form>