<form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off">
    <input type="number" name="minAge" [(ngModel)]="userParams.minAge">
    <input type="number" name="maxAge" [(ngModel)]="userParams.maxAge">
    <select name="gender" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
        </option>
    </select>

    <select name="gender" [(ngModel)]="userParams.orderBy">
        <option value="lastActive">Last Active</option>
        <option value="createdAt">createdAt</option>
    </select>

    <button type="submit">Apply filters</button>
    <button (click)="resetFilters()" type="submit">Reset</button>
</form>

<p *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
</p>

<div>{{pagination?.currentPage}}</div>
<div>{{pagination?.totalPages}}</div>