@import 'src/styles/variables.scss';

.navbar {
    width: 100%;
    background-color: $blue;
    height: 65px;
    padding-left: calc(0.5% + 5px);
    padding-right: calc(0.5% + 5px);

    .default-nav {
        display: none;
        justify-content: space-between;
        height: 100%;

        div {
            display: flex;
            align-items: center;
        }
    }

    .mobile-nav {
        display: none;
        height: 100%;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

a,
img,
button {
    margin: 8px;
    text-decoration: none;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    filter: brightness(85%);
    transition: 0.3s;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: solid rgb(215, 206, 206) 1px;
    border-radius: 5px;
}

.menu:hover {
    background-color: $button-orange;
    transition: 0.4s;
}

.biker-img {
    height: 25px;
}

.user-img {
    max-width: 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.mobile-menu {
    background-color: $blue;
    z-index: 600;
    height: auto;
    position: absolute;
    top: 65px;
    width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;

    a {
        display: flex;
        justify-content: center;
        width: 180px;
        height: 30px;
        border-radius: 5px;
        background-color: $button-orange;
        margin-top: 5px;
        margin-bottom: 5px;
        color: black;
    }

    a:hover {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 800px) {
    .default-nav {
        display: flex !important;
    }
    
    .mobile-menu {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .mobile-nav {
        display: flex !important;
    }
}