<a routerLink="/">Social Media App</a>
<hr>
<div class="div">
    <ng-container *ngIf="(accountService.currentUser$ | async) as user">
        <a routerLink="/members">Members</a>
        <hr>
        <a routerLink="/lists">Lists</a>
        <hr>
        <a routerLink="/messages">Messages</a>
        <hr>
        <a routerLink="/member/edit">Edit</a>
        <hr>
        {{user.knownAs}}
        <img src="{{user.photoUrl || './assets/user.png'}}" alt="user main photo">
    </ng-container>
    <a routerLink="/errors">Errors</a>
</div>

<form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()"
    autocomplete="off">
    <input name="username" [(ngModel)]="model.username" type="text" placeholder="login">
    <input name="password" [(ngModel)]="model.password" type="password" placeholder="password">
    <button type="submit">submit</button>
</form>

<div *ngIf="accountService.currentUser$ | async">
    <button (click)="logout()">Logout</button>
    <h1>Logged in</h1>
</div>