<div class="container">
    <form *ngIf="(accountService.currentUser$ | async) === null && registerMode === false" #loginForm="ngForm" (ngSubmit)="login()"
        class="login-form"
        autocomplete="off">
        <h2>Sign In</h2>
        
        <input name="username" [(ngModel)]="model.username" type="text" placeholder="Login">
        <input name="password" [(ngModel)]="model.password" type="password" placeholder="Password">

        <button type="submit" class="login-btn">Login</button>
        <button (click)="registerToggle()" class="register">Register</button>
        <div *ngIf="validationErrors">
            <div *ngIf="!isArray(validationErrors)">
                {{validationErrors.error}}
            </div>
            <ul *ngIf="isArray(validationErrors)">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
    </form>
    <app-register *ngIf="registerMode" (cancelRegiser)="cancelRegisterMode($event)"></app-register>
</div>